* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: ivory;
  margin:auto;
}

.nav  {
  display:flex;
  flex-grow: 2;
  color: grey;
  font-size: 20px;
  padding: 30px;
}


.left {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  width:25%;
  align-items:baseline;
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 30px;
  height: 50px;
  width: 75%
}

.subheading{
  background-color: lightblue;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


h2 {
  background-color: lightblue;
  display:inline-block;
  text-align: right;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


/*.hero-banner{
  display: flex;
  flex-grow: 1;
  
  height: 50px;
  padding: 15px;
 
}*/

.backgroundimg{
  height: 300px;
  width: 1700px;
  padding: 0px;
  position:relative;
  left:0;
  top: 0;
  z-index: 0;
  margin-bottom: auto;
}

.avatar{
  height:150px;
  width:150px;
  position:absolute;
  top: 135px;
  right: 20px;
  border:solid 3px;
  border-color: black;
  background-color: lightblue;
  z-index: 1;

}
/*.main-banner{
  padding: 0px;
  margin: 0px;
  height: 200px;
  width: 100%;
  margin-bottom: auto;
}*/

.page-wrapper{
  display: flex;
  flex-direction:column;
  background-color: black;
  height: 500px;
  width:100%;
}

.page-section{
  display: flex;
  flex-direction:column;
  height: 500px;
  width:100%;
  margin:0;

}

 #about, #work, #curriculum, #contact{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;

}



#about{
  margin-top: 20px;
 
}

#work{
  margin-top: 20px;
  background-image: url("../images/02-portfolio-2.jpg");
}

#curriculum{
  margin-top: 20px;
  background-image: url("../images/02-portfolio-3.jpg");
}

#contact{
  margin-top: 20px;
  background-image: url("../images/02-portfolio-4.jpg");
}

.text {
  background: rgb(0, 0, 0, 0.7);
  width: 100%;
  padding: 20px 40px;
  color: navy;
}

.text, p {
  color:rgba(255,255,255, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header h1 {
  color:green;
  margin-left: 0px;
  
}
