* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: ivory;
  margin:auto;
}

/*header {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;  
}*/

.nav  {
  display:flex;
  flex-grow: 2;
  color: grey;
  font-size: 20px;
  padding: 30px;
}


.left {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;

}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 30px;
  height: 50px;
}

li {
  display: inline;
  padding: 5px;


}

ul  {
  list-style-type: none;

}

h2 {
  background-color: lightblue;
  display:inline-block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


.hero-banner{
  display: flex;
  flex-grow: 1;
  
  height: 50px;
  padding: 15px;
  
}

.backgroundimg{
  height: 300px;
  width: 1700px;
  padding: 0px;
  position:relative;
  left:0;
  top: 0;
  z-index: 0;
}

.avatar{
  height:150px;
  width:150px;
  position:absolute;
  top: 0px;
  right: 0px;
  border:solid 3px;
  border-color: black;
  background-color: lightblue;
  z-index: 1;

}
.main-banner{
  padding: 10px;
  margin: 10px;
  height: 200px;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header h1 {
  color:green;
  margin-left: 0px;
  
}
