* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  margin:auto;
}

.nav   {
  display:flex;
  flex-grow: 2;
  color: grey;
  font-size: 20px;
  padding: 30px;
  text-decoration: none;
}

a{
  text-decoration: none;
}


.left {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  width:25%;
  
}

.right {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 30px;
  height: 50px;
  width: 75%
}

.subheading{
  background-color: lightblue;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


h2 {
  background-color: lightblue;
  display:inline-block;
  text-align: right;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.backgroundimg{
  height: 300px;
  width: 1700px;
  padding: 0px;
  position:relative;
  left:0;
  top: 0;
  z-index: 0;
  margin-bottom: auto;
}

.avatar{
  height:150px;
  width:150px;
  position:absolute;
  top: 135px;
  right: 20px;
  border:solid 3px;
  border-color: black;
  background-color: lightblue;
  z-index: 1;

}

/* flexbox layout*/
.flexItem {
  background-color: lightyellow;
  margin: 10px;
  padding: 10px;
  width: 100%;
  height: 250px;
  
}
.flexContainer {
  display: flex;
  height: 400px;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}


.alignItems {
  align-items: flex-start;
}

.justifyContent {
  
  justify-content: center;

}

.perfectlyCentered {
align-items:center;
justify-content: center;
text-align: center;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header h1 {
  color:green;
  margin-left: 0px;
  
}
